<div class="banner">
  <div class="banner__container container">
    <div class="banner__main">
      <h1>
        Charitable Foundatin
        "Your Help"
      </h1>
      <p class="banner__text">
        People around the world are raising money for what
        they are passionate about.
      </p>
      <a href="#" class="banner__link">
        Create a campaign
      </a>
    </div>
  </div>
</div>